body {
	background-color: #A1A1A1;
}

pre, h3 {
	display: inline;
}

table {
	background-color: #FFF;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border: thin solid black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-shadow: none;
	-webkit-user-select: none;
}

th {
	background-color: #DBDBDB;
}

td {
	border: thin solid black;
	text-align: left;
	vertical-align: top;
	color: #000;
}

.calendar {
	background-color: #A1A1A1;
}

.today {
	background-color: #BDD6A7;
}

#previous, #next {
	display: inline;
	cursor: pointer;
}
