html, body {
	height: 100%;
}

button, pre {
	display: inline;
}

h1 {
	text-align: center;
}

table {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border: thin solid black;
}

th {
	background-color: #DBDBDB;
}

td {
	border: thin solid black;
	text-align: left;
	vertical-align: top;
}
